

.form-container{
    /* position: absolute; */
    top: 10%;
    right: 50%;
    transform: translate(50%, -50%);
    margin-top: -25rem  ;
    margin-left: 12rem;
    width: 600px;
    height: 500px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
    
}

.rating__container{
    width: 100%;
    position: relative;
    background:var(--green);
    padding: 20px;
    margin-top: -7rem;
    border-bottom-right-radius: 150px;
    border-top-left-radius: 150px;
    overflow: visible;
    
}

.exchange {
    width: 24rem;
    text-align: center;
    margin-left: 4rem;
}
.organizing__button{
    padding-left: 1.1rem;
    display: grid;
    gap: 10px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    border: 2px solid #ccc;
    outline: none;
    cursor: pointer;
    position: relative;
}

/* Style when radio button is checked */
input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #47817a; /* Change color as needed */
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.draw{
    width: 470px;
    margin-left: 0.1rem;
    background-color: var(--green);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 60px;

}
.draw i{
    color: white;
    background: transparent;
    margin-left: 5px;
}

.get__party{
    display: none;;
}

.skip{
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #47817a;
}

@media (max-width:850px){
    .rating__image{
        display: none;
    }
}